*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face{
	font-family: gotham;
	src: url(Gotham/GOTHAM-BOLD.ttf);
}
html{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body{
	background: rgba(33,33,33,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(33,33,33,1) 0%, rgba(46,46,46,1) 0%, rgba(13,13,13,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(33,33,33,1)), color-stop(0%, rgba(46,46,46,1)), color-stop(100%, rgba(13,13,13,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(33,33,33,1) 0%, rgba(46,46,46,1) 0%, rgba(13,13,13,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(33,33,33,1) 0%, rgba(46,46,46,1) 0%, rgba(13,13,13,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(33,33,33,1) 0%, rgba(46,46,46,1) 0%, rgba(13,13,13,1) 100%);
background: radial-gradient(ellipse at center, rgba(33,33,33,1) 0%, rgba(46,46,46,1) 0%, rgba(13,13,13,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#0d0d0d', GradientType=1 );
}


.m-top{
	margin-bottom: 320px;
}



.paraguana:after, .paraguana:before {
  color: #18FFFF;
  font-size: 44px;
  animation: 2s linear 0s normal none infinite opacity;
}
.paraguana{
	font-size: 80px;
	color: #ecf0f1;
	font-family: gotham;
}

.paraguana:after{
	content: "CODE";
	color: #43c493;
	font-size: 90px;
	font-weight: 900;
	font-family: gotham;
}


.p1{
	width: 250px;
	height: 35px;
	background-color: #70599d;
	border-radius: 10px;


}

.p2{
	width: 70px;
	height: 35px;
	background-color: #43c493;
	position: absolute;
    top: -0.5px;
    left: 280px;
    border-radius: 10px;
}

.p3{
	width: 190px;
	height: 35px;
	background-color: #43c493;
	border-radius: 10px;
}

.p4{
	width: 130px;
	height: 35px;
	background-color: #ecf0f1;
	position: absolute;
    top: -0.5px;
    left: 220px;
    border-radius: 10px;
}


.p5{
	width: 70px;
	height: 35px;
	background-color: #ecf0f1;
	border-radius: 10px;
}

.p6{
	width: 250px;
	height: 35px;
	background-color: #70599d;
	position: absolute;
    top: -0.5px;
    left: 100px;
    border-radius: 10px;
}

.p8{
	width: 160px;
	height: 35px;
	background-color: #43c493;
	border-radius: 10px;
}

.tp{
	margin-top: 20px;
}


@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%,18%,100% {
    transform: translateY(0);
  }
  25%,43% {
    transform: translateY(-25%);
  }
  50%,69% {
    transform: translateY(-50%);
  }
  75%,95% {
    transform: translateY(-75%);
  }
}